body {
	background-color: silver;
}

.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>form {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>form>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid rgb(255, 207, 71);
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}

.input-name, .input-phone	{
	border: 1px solid orange;
	border-radius: 5px;
	padding: 6px 10px;
	margin-left: 15px;
	transition:  all .5s ease;
}

.input-name:hover,.input-phone:hover{
	background-color: #f2f2f2;
}


.first p {
	margin-top: 0;
	float: left;
	width: 100%;
}


#content-tab1 p  span {
	font-size: 20px;
	color: gray;
}

#content-tab1{
	position: relative;
	width: 51.9%;
	clear: both;
	text-align: left;
}

#content-tab2 {
	width: 51.9%;
	position: relative;
	margin-left: 19%;
	text-align: center;
}

#content-tab3{
	width: 51.9%;
	position: relative;
	margin-left: 38%;
	text-align: right;
}

.div {
	clear: both;
}

.button-php {
	padding: 10px 32px;
	background-color: rgb(241, 90, 36);
	display: inline-block;
	margin-top: 20px;
	margin-left: 15px;
	border-radius: 8px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	transition: all .5s ease;
}

.button-php:hover{
	background-color: rgb(255, 77, 19);
}

.color-text {
	color: rgb(255, 207, 71);
}
 
 @media screen and (max-width: 780px) {
	.tabs>label{
 		font-size: 13px;
	}
 }


@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 13px;
		padding: 12px 2px;
		display: block;
	}
	.tabs>label::before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}

input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: black;
  background-color: rgb(255, 207, 71);
}
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: #436ca2; */
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}