@font-face {
	font-family: "Opensansregular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
			 url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "PlayBold";
	src: url("../fonts/playBold/Play-Bold.otf");
	src: url("../fonts/playBold/Play-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "PlayRegular";
	src: url("../fonts/playRegular/Play-Regular.otf");
	src: url("../fonts/playRegular/Play-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


